<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #292121;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #eaff00;
        }
        p {
            color: #e9e9e9;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>User Profile Details</h1>
    <p>Name: {{ name }}</p>
    <p>Email: {{ email }}</p>
    <p>Phone: {{ phone }}</p>
    <p>House Name: {{ house_name }}</p>
    <p>Street: {{ street }}</p>
    <p>Landmark: {{ landmark }}</p>
    <p>Pincode: {{ pincode }}</p>
    <p>City: {{ city }}</p>
    <p>State: {{ state }}</p>
    <p>Country: {{ country }}</p>
</body>
</html>